/* Center image inside grid cell */
.image-cell {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Image styling */
.image-cell img {
  display: block;
  margin: auto;
  border-radius: 12px; 
  border: 2px black solid;
}

/* Disable underline for all links */
a,
a:hover,
a:focus,
a:visited,
a:active {
  text-decoration: none !important;
}